ANNOUNCE
.svn
.git_github
.git_gitlab
.github
.gitlab
autom4te.cache
aclocal.m4
automa4te.cache
config.h*
config.log
config.status
configure
Makefile
Makefile.in
build
commit
cache
ftp
vd
vv
tmp
html
www
stamp-*
vreng-*
bin/*
log/*
archive/*
src/vreng/txt2str
src/vreng/.dirstamp
src/util/tools/snd2str
src/servers/vrum/multicast.pyc
src/ai/*.cmx
src/ai/*.cm*
src/ex
src/bundle/ftgl-*rc5
src/bundle/png/*.dist
src/Makefile
src/Makefile.in
src/*/Makefile
src/*/Makefile.in
src/*/.deps
src/*/*.o
src/*/*.a
src/*/y.tab*
src/*/lex.yy.*
src/*/*/Makefile
src/*/*/Makefile.in
src/*/*/.deps
src/*/*/*.o
src/*/*/*.a
src/*/*/*/Makefile
src/*/*/*/Makefile.in
src/*/*/*/.deps
src/*/*/*/*.o
src/*/*/*/*.a
src/servers/vjs/classes
src/servers/vjs/jar
access_log
error_log
