ANNOUNCE
.svn
.git_github
.git_gitlab
autom4te.cache
TOFIX
aclocal.m4
automa4te.cache
target
config.h*
config.log
config.status
configure
Makefile
Makefile.in
.github
.gitlab
commit
ubit_svn
ftp
gif
html
doxygen
gui
main
model
bundle
net
sys
vgl
tex
wo
ubit
v8
vd
vr
vv
vre
tmp
bin/vreng
bin/vred
bin/vrel
bin/vacs
bin/vaps
bin/vjs
bin/vrum
bin/vmm
bin/vre
src/vreng/txt2str
src/vreng/.dirstamp
src/util/tools/snd2str
src/servers/vrum/multicast.pyc
src/ai/*.cmx
src/ai/*.cmi
stamp-*
vreng-*
src/ex
src/bundle/ftgl-*rc5
src/bundle/png/*.dist
src/Makefile
src/Makefile.in
src/*/*.o
src/*/Makefile.in
src/*/*.o
src/*/*.a
src/*/.deps
src/*/*/.deps
src/servers/vjs/classes
src/servers/vjs/jar
src/*/*/Makefile
src/*/*/Makefile.in
src/*/*/*.o
src/*/*/*.a
src/vreng/MakefileGLUT
src/ai/*.cm*
wwwlocal
www
vrlocal
.git_ln
access_log
error_log
