.svn
.git_github
.git_gitlab
.github
.gitlab
autom4te.cache
aclocal.m4
automa4te.cache
config.h*
config.log
config.status
configure
cache
vd
www
stamp-*
vreng-*
sh
log
archive
github
old
Makefile
Makefile.in
src/Makefile
src/*/Makefile
src/*/*/Makefile
src/*/*/*/Makefile
src/Makefile.in
src/*/Makefile.in
src/*/*/Makefile.in
src/*/*/*/Makefile.in
src/*/.deps
src/*/*/.deps
src/*/*/*/.deps
src/*/*.o
src/*/*/*.o
src/*/*.a
src/*/*/*.a
src/*/y.tab*
src/*/lex.yy.*
src/ai/*.cmx
src/ai/*.cm*
src/bundle/ftgl-*rc5
src/bundle/png/*.dist
src/vreng/txt2str
src/vreng/.dirstamp
src/tool/snd2str
src/vjs/classes
src/vjs/jar
src/vrum/multicast.pyc
